:root {
    --textColor: #000000;
    --buttonColor: #F56163;
    --cardColor: #EAF4F4;
    --containerHeader:#65A8A4;
    --shop:#61B1A5;
    --header-height: 120px;
}

.custom-button {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    color: var(--textColor);
    border: none;
    border-bottom: 4px solid var(--buttonColor);
    border-radius: 12px 12px 0 0;
    padding: 10px 20px;
}

.custom-button-search {
    background-color: var(--buttonColor);
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
}

.custom-button-shop{
    background: white;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
}
.custom-button-shop:hover {
    background-color: lightgray;

}
.custom-button.promo{
    font-size: 24px;
}
.custom-button:hover {
    background-color: var(--buttonColor);
    border-bottom: 4px solid var(--buttonColor);
}

.logout-button:hover {
    background-color: #cc5555;
}

.img-custom:hover{
    color: white;
}
html, body {

    color: var(--textColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex: 1;
}
.min-vh-100 {
    min-height: 100vh; /* Минимальная высота на весь экран */
}
.img-width {
    max-width: 500px;
    height: auto;
}

#root {
    flex: 1;
}
.backkkk{
    background-color: var(--buttonColor);
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 2%;

}

.footer {
    max-width: 1600px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,p {
    color: var(--textColor)
}

p {
    font-weight: normal;
    font-size: 24px;
}
h1 {
    font-weight: bold;
}
.custom-table th, .custom-table td {
    color: var(--textColor); /* Устанавливает красный цвет текста */
    font-size: 24px;
}
text {
    color: var(--textColor);
    font-weight: bold;
    font-size: 40px;
}