.card {
    position: relative;
    z-index: 1;

    background-color: white;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-image {
    width: 400px;
    height: 400px;
}
.text-multiline-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Обрезать после 3 строк */
}
