.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    width: 100px;
    height: auto;
}

.navbar-toggler-custom {
    border: none;
    outline: none;
}

.navbar-toggler-custom:focus {
    box-shadow: none;
}

/* Стили для Offcanvas (полноэкранное меню) */
.full-screen-menu {
    width: 100vw !important; /* На всю ширину экрана */
    max-width: 100vw !important; /* Ограничение по ширине */
    height: 100vh !important; /* На всю высоту экрана */
    background-color: white; /* Фон меню */
}

.menu-item {
    font-size: 16px;
    font-weight: normal;
    color: var(--textColor);
    text-decoration: none;
}

@media (max-width: 992px) {
    .menu-item {
        font-size: 16px;
        padding: 10px 20px;
    }
}